@import "materialize";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url("/dist/img/bg_img.jpg") no-repeat fixed;
  background-size: 100vw;
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.containerLogin {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;

  .loginForm {
    margin: auto;
    padding: 1em;
    width: 20vw;
    height: 40vh;
    background: rgba(201, 201, 201, 0.8);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000;
    h1 {
      color: white;
      font-size: 2.5em;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px #000;
    }
    input {
      width: 100%;
      margin: 7px auto;
      height: 3em;
      border-radius: 5px;
    }

    p {
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 0.5em;
    }
  }
}

.containerApi {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background: #ffffffea;
  .container-right-side {
    flex-basis: 80vw;
    .container-right-side-nav {
      // background: red;
      flex-basis: 100%;
      height: 100px;
      padding: 1rem;
      .container-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        div {
          padding: 0 10px;
          margin: 0;
        }
      }
    }
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    width: 18vw;
    height: 100vh;
    background: #ffffffea;
    box-shadow: 3px 3px 15px #000;

    .collection {
      width: 100%;
      border: 0 solid;
      .active {
        background: #ab47bc;
        color: white;
      }
      a {
        color: grey;
      }
      .collection-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        i {
          padding-right: 10px;
        }
      }
    }
    hr {
      width: 16vw;
    }
    .sidebar-account-name {
      margin: 10px auto;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }

  .container-api-feeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: 80vw;

    .feeds {
      flex-wrap: wrap;
      padding: 10px;
      height: 70vh;
      flex-basis: 23vw;
      border-radius: 8px;
      background: white;
      margin-top: 13rem;
      box-shadow: 1px 1px 15px grey;

      .api-header {
        width: 95%;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -30px;
        border-radius: 3px;
        box-shadow: 5px 5px 5px grey;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

// Company Info and Timecard
.api-01 {
  // overflow: scroll;
  .dateTime {
    text-align: center;
    font-size: 2.5em;
  }
  .clockInOutButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

// News API
.api-02 {
  // overflow: hidden;
  // height: 50vh;
  .accordian {
    margin-bottom: 1em;
    a {
      color: #a93f55;
    }
    .header {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

// .api-03 {
// }

// .api-04 {
// }
