@import "materialize";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("/dist/img/architectural-design-architecture-building-443383.jpg")
    no-repeat;
  background-size: 100vw;
  background-color: grey;
  // font-family: Arial, Geneva, Verdana, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;

  .loginForm {
    margin: auto;
    padding: 1em;
    width: 20vw;
    height: 40vh;
    // border: #ff0000 1px solid;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000;
    h1 {
      color: grey;
      font-size: 3em;
      text-transform: uppercase;
    }
    input {
      width: 100%;
      margin: 7px auto;
      height: 3em;
      border-radius: 5px;
    }
  }
}
